
   
    <div class="container h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-4">
           
            <div class="card rounded-4 border-0 shadow text-center">
              <div class="card-header px-5 py-4  border-bottom-0">
                <h3 class=" mb-0">{{ header }}</h3>
              
              </div>
    
              <div class="card-body p-5">
                <Center>  <img src="http://localhost/oms/App/Public/img/corgi2.png" width="80px" class="mb-3"></Center>
              
            <p class="lead">{{ descr }}</p>
            <a href="http://localhost/oms/" class="btn btn-primary">Wróć do strony głównej</a>
    
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  