body,html {
    height: 100%;
   
}

.header_navi {

}

.bg-special .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
background-color: #4d95ff;
}
main {
    overflow-y: auto; /* Umożliwienie przewijania w pionie */
    height: calc(100vh); /* Wysokość sekcji main, aby wypełnić dostępną przestrzeń */
}
.menuleft {
    font-size: 12px;
    
}