<div class="d-flex flex-column flex-shrink-0 p-4 bg-body-tertiary h-100"  >
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Dashboard</h1>
        
      </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{app.url}}/admin/forms" class="nav-link active" aria-current="page">
         
          Strona Główna
        </a>
      </li>
      
      {% for item in menu %}
        <li>
            <a href="{{app.url}}/admin/form/view/{{ item.id }}" class="nav-link link-body-emphasis">
                {{ item.name }}
            </a>
        </li>
      {% endfor %}
     
    
        
    </ul> 
    
  </div>