<div class="header_navi p-3 text-center border-bottom">
    <img src="http://localhost/oms/App/Public/img/corgi.png" height="42px">
</div>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link text-white  py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <i class="fa-solid fa-gauge"></i> <br/>
          <span class="menuleft"> Kokpit {{ tester }}  </span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link  text-white py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <i class="fa-solid fa-globe"></i> <br/>
          <span class="menuleft"> Strona </span>
      </a>
    </li>

    <li class="nav-item">
      <a href="admin/forms" class="nav-link text-white active  py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <i class="fa-solid fa-server"></i> <br/>
          <span class="menuleft"> Baza danych </span>
      </a>
    </li>
    
  </ul>
  <div class="dropdown ">
    <a href="#" class="d-flex text-white align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
